<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".gerbang_logika.DetailKuisGerbangLogikaActivity"
            android:exported="false" />
        <activity
            android:name=".gerbang_logika.KuisGerbangLogikaActivity"
            android:exported="false" />
        <activity
            android:name=".aljabar_boolean.KuisAljabarBooleanActivity"
            android:exported="false" />
    </application>

</manifest>